.DS_Store
*.pyc
__pycache__/
.chat_env/
.chat-env/
*.env
*.env.*
*.ipynb_checkpoints
*.log
*.sqlite3
*.db
*.db-journal
*.db-wal
*.db-shm
*.egg-info/
*.egg
*.egg-info/
responses/
db/knowledge_base/*
db/chroma/*
*.md
.secrets/
.idea/